body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22b2ec;
}

.calculator {
  width: 230px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 30px 50px -10px #666;
}

.screen {
  background-color: #4b5665;
  padding: 10px;
}

.input {
  font-family: 'Nanum Gothic', sans-serif;
  padding-bottom: 10px;
  text-align: right;
  color: #adb5b8;
  font-size: 18px;
}

.result {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: right;
  color: white;
  font-size: 35px;
}

button {
  width: 25%;
  padding: 10px;
  color: #54656c;
  border: 1px solid #f2f2f2;
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}

button:focus,
button:active {
  outline: none;
}

.numpad {
  /* Hide carriage returns */
  font-size: 0;
}
